<section class="timeline">

  <div class="timeline-container">

    <div id="timeline-slider">

      <div id="range-bar-container">

        <div id="topcap"></div>
        <div id="range-bar"></div>
        <div id="bottomcap"></div>

        <div id="markers"></div>

        <div id="left-handle" class="handle">
          <div class="tooltip" id="left-tooltip">1960</div>
        </div>

        <div id="right-handle" class="handle">
          <div class="tooltip" id="right-tooltip">2025</div>
        </div>

      </div>

    </div>

  </div>

</section>
